:root {
    --color-green: hsl(120, 25%, 25%);
    --color-bluegreen: hsl(170, 43%, 51%);
}

body {margin:0;}

h4{
    padding: 1vmin;
    font-family: system-ui;
    background: var(--color-green);
    text-align: left;
    color: #DDD;
}

.navWrapper{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.logo{
    grid-column: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    margin-top: 1vh;
    margin-left: 4vw;
}

.logo a{
    color: var(--color-green);
}

img{
    height: 6vh;
}
.icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
	grid-column: 2;
    background-color: white;
    overflow: auto;
}

.icons a {
    text-align: center;
    padding: 12px 0;
    color: #000;
    font-size: 3em;
}

.icons a:hover {
    background-color: #888;
}

.mainWrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 75% 25%;
    margin-left: 4vw;
}

.main{
    grid-column: 1;
    margin-left: 4vw;
    text-align: center;

}
.sidebar{
    grid-column: 2;
    text-align: center;
}

.plant{
    margin-top: 10vh;
    height: 50vh;
}

.profile {
  margin: auto;
  padding-top: 1vh;
  width: 100%;
  text-align: center;
  font-family: system-ui;
}

.profileImg{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.statImg{
    margin: auto;
    width: 80%;
    height: 20%;
}
button {
  border-radius: 5px;
  padding: 8px;
  color: white;
  background-color: var(--color-bluegreen);
  text-align: center;
  cursor: pointer;
  width: 150px;
  font-size: 1em;
}