:root {
    --color-green: hsl(153, 100%, 23%);
    --color-blue: hsl(208, 70%, 38%);
}

.form-label {
  display: inline-block;
  text-align: right;
  width: 125px;
}

.form-input {
  display: inline-block;
  width: 125px;
}

#calendar-main {
  display: flex;
  direction: vertical;
  font-family: Arial, Helvetica, sans-serif;
}

.heading{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.main {
  font-size: 22px;
  text-align: center;
  margin-bottom: 5px;
}

.calendar-column {
  position: relative;
  vertical-align: top;
  text-align: left;
}

#progress-bar {
  position: absolute;
  left: 5px;
  bottom: 2px;
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.date {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}

.exercise_checklist {
  margin-bottom: 10px;
}

#todo {
  width: 20%;
  display: grid;
  grid-template-rows: 90% 10%;
  border-style: solid;
  margin: 10px;
  margin-top: 0px;
  padding: 5px;
  position: relative;
}

#todo-list {
  text-align: left;
  font-size: 16px;
  margin: 2px;
}

.todo-label {
  text-align: left;
  width: 100%;
  height: 25px;
}

.play-button {
  font-size: 25px;
}

#main-progress {
  height: auto;
  width: 90%;
  position: absolute;
  align-self: end;
  justify-self: center;
  margin-bottom: 10px;
}

.checkbox {
  height: 20px;
}

#calendar {
  width: 80%;
  margin: 10px;
  margin-top: 0px;
}

#calendar-title-bar {
  display: flex;
  direction: horizontal;
}

.view-type {
  height: 25px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 3px;
  padding-bottom: 2px;
  align-self: center;
  border-radius: 5px;
  color: white;
  background-color: var(--color-blue);
}

.view-type:hover{
  background-color: hsl(208, 70%, 50%);
  cursor: pointer;
}

#week-table {
  width: 100%;
  height: 400px;
  border-style: solid;
  border-spacing: 0px;
  border-color: black;
}

#plus-button {
  font-size: 30px;
}

#plus-button:hover {
  color: hsl(0, 0%, 20%);
  cursor: pointer;
}

#plus-menu {
  position: absolute;
  z-index: 100;
  padding: 0px;
  margin: 0px;
  width: 150px;
  border-style: solid;
  border-color: black;
  background-color: white;
}

.plus-menu-button {
  width: 100%;
  font-size: 17px;
  border-color: black;
  background-color: white;
  padding: 5px;
}

#video-iframe {
  position: relative;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

#note-display {
  position: relative;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background-color: white;
  width: 320px;
  height: 320px;
  margin: 10px;
  padding: 10px;
  text-align: left;
}

.note-text-area {
  font-size: 18px;
  height: 240px;
  overflow-wrap: break-word;
  overflow-y: scroll;
  margin-bottom: 5px;
}

#note-edit-textarea{
  resize: none;
}

.helper {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.grey-background {
  position: fixed;
  text-align: center;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  background:rgba(0,0,0,.75);
  top: 0;
  left: 0;
  z-index: 1000;
}

.add-widget {
  display: flex;
  flex-direction: column;
  z-index: 100;
  position: absolute;
  border-style: solid;
  background-color: white;
  text-align: left;
  font-size: 18px;
  padding: 5px;
}
.add-widget[hidden] {
  display: none;
}

.self-note-label {
  color: var(--color-green);
}

#self-note-save {
  margin-right: 2px;
  background-color: var(--color-blue);
  color:white;
}

#self-note-cancel {
  margin-left: 2px;
  background-color: var(--color-blue);
  color:white;
}

.info-text-section {
  display:flex;
  margin-top: 5px;
}

#info-label {
  margin-right: 5px;
}

#ex-info {
  width: 125px;
}

#repeat-label {
  margin-right: 5px;
}

.repeat-wrap {
  margin-top: 5px;
  display:flex;
  flex-direction: row;
}

.radio-options {
  display:flex;
  flex-direction: column;
}

.save-cancel {
  font-size: 15px;
  background-color: var(--color-blue);
  color: white;
  border-radius: 5px;
  margin-top: 5px;
}

.save-cancel#save {
  margin-right: 2px;
}
.save-cancel#cancel {
  margin-left: 2px;
}

.option-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

#thurs-appt {
  font-size: 12px;
  text-align: left;
  background-color: var(--color-blue);
  color: white;
  padding: 2px;
}

#mon-note {
  font-size: 12px;
  text-align: left;
  background-color: var(--color-green);
  color: white;
  padding: 2px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#video-close{
    font-size: 56px;
    float: none;
    margin-bottom: 300px;
}
th.current{
  background-color: var(--color-blue);
  color: white;
}

.cur-day-month{
  background-color: var(--color-blue);
  text-align: left;
  vertical-align: top;
  color: white;
}

/* span helper code source: https://html-online.com/articles/simple-popup-box/ */
