:root {
    --color-green: hsl(153, 100%, 23%);
    --color-seablue: hsl(203, 38%, 60%);
    --color-blue: hsl(208, 70%, 38%);
}

h1 {
	font-family: 'Roboto', sans-serif;
    font-size: 3em;
}

.title-section {
	display: flex;
	flex-direction: column;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.pt-selection {
	display: flex;
	flex-direction: column;
	height: 20px;
	align-items: center;
	justify-content: center;
}

.pt-name {
	color: var(--color-blue);
	font-size: 40px;
}

.chatbox {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  background: white;
  font-family: "proxima-nova", "Source Sans Pro", sans-serif;
  font-size: 1em;
  letter-spacing: 0.1px;
  color: #32465a;
  text-rendering: optimizeLegibility;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-font-smoothing: antialiased;
}

#frame {
  width: 95%;
  min-width: 360px;
  max-width: 1000px;
  height: 80vh;
  min-height: 300px;
  max-height: 720px;
  background: #E6EAEA;
}

input {
  box-sizing: border-box;
  border:1px solid gray;
}



#frame .content {
  float: right;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}


#frame .content .contact-profile {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #f5f5f5;
}
#frame .content .contact-profile img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  float: left;
  margin: 10px 10px 10px 30px;
}
#frame .content .contact-profile p {
  float: left;
}

#frame .content .messages {
  height: auto;
  min-height: calc(100% - 160px);
  max-height: calc(100% - 160px);
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

#frame .content .messages::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
#frame .content .messages::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}
#frame .content .messages ul li {
  display: inline-block;
  clear: both;
  float: left;
  width: calc(100% - 25px);
  font-size: 0.9em;
}

#frame .content .messages ul li.sent {
	display: flex;
	align-items: center;
	justify-content: flex-end;

}
#frame .content .messages ul li.replies {
	display:flex;
	align-items: center;
}

#frame .content .messages ul li:nth-last-child(1) {
  margin-bottom: 20px;
}
#frame .content .messages ul li.sent img {
  margin: 6px;
  justify-content: flex-end;
}
#frame .content .messages ul li.sent p {
  background: #435f7a;
  color: #f5f5f5;
  justify-content: flex-end;
}
#frame .content .messages ul li.replies img {
  margin: 6px;
}
#frame .content .messages ul li.replies p {
  background: #f5f5f5;
}
#frame .content .messages ul li img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: left;
}
#frame .content .messages ul li p {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 205px;
  line-height: 130%;
}
@media screen and (min-width: 735px) {
  #frame .content .messages ul li p {
    max-width: 300px;
  }
}
#frame .content .message-input {
  position: relative;
  
  width: 100%;
  z-index: 99;
}

#frame .content .message-input input {
  font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
  margin-right: 30px;
  margin-left: 30px;
  float: left;
  border: none;
  width: calc(100% - 60px);
  height: 40px;
  padding: 11px 32px 10px 8px;
  font-size: 0.8em;
  color: #32465a;
}
@media screen and (max-width: 735px) {
  #frame .content .message-input input {
    padding: 15px 32px 16px 8px;
  }
}

#frame .content .message-input input:focus {
  border-color: green;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
#frame .content .message-input .attachment {
  position: absolute;
  right: 60px;
  z-index: 4;
  margin-top: 10px;
  font-size: 1.1em;
  color: #435f7a;
  opacity: .5;
  cursor: pointer;
}

#frame .content .wrap-send {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  color: #76a0ef;
  font-size: 18px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #E6EAEA;
}
button:hover{
  color: #4881ea;
}

.send-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: calc(100% - 60px);
  margin-top: 15px;
}

footer {
	display: block;
    background-color: #999;
    padding: 1em 2em;
    color: white;
    text-align: right;
    margin-top: 2em;
    font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

